OPC-UA-Test/flows_opc-ua-test.json
[{"id":"6b119636.c7007","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"fec79869.7befa","type":"tab","label":"Home","disabled":true,"info":""},{"id":"1f52fce7.f83c6b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"288b4a9d.5bbcee","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:4840","keepSessionAlive":false,"loginEnabled":true,"securityPolicy":"None","securityMode":"NONE","name":"py","showErrors":false,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"1000","connectionStartDelay":"500","reconnectDelay":"500","maxBadSessionRequests":"2"},{"id":"d14b2992.730a9","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"b1ec68e9.eaf328","type":"ui_group","z":"","name":"Temperaturen","tab":"d14b2992.730a9","order":1,"disp":true,"width":"6","collapse":false},{"id":"124e7d4b.0c8e4b","type":"ui_group","z":"","name":"Test","tab":"d14b2992.730a9","disp":true,"width":"6","collapse":false},{"id":"7123c900.a9b4b","type":"OPCUA-IIoT-Listener","z":"6b119636.c7007","connector":"288b4a9d.5bbcee","action":"subscribe","queueSize":10,"name":"","topic":"","justValue":true,"useGroupItems":false,"showStatusActivities":false,"showErrors":false,"x":280,"y":320,"wires":[["44c232f6.3617a4"]]},{"id":"5eef8505.760c44","type":"OPCUA-IIoT-Inject","z":"6b119636.c7007","injectType":"inject","payloadType":"date","topic":"","repeat":"1","crontab":"","once":true,"startDelay":"10","name":"","payload":"","addressSpaceItems":[{"name":"Random","nodeId":"ns=2;i=6","datatypeName":""}],"x":150,"y":180,"wires":[["e1d4d0e0.bdb868"]]},{"id":"8e432070.7a2d58","type":"function","z":"6b119636.c7007","name":"get_read_value","func":"msg.payload = msg.payload[0].value[1];\nmsg.topic = \"째C\";\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":180,"wires":[["e82fcbf3.2f45b8"]]},{"id":"e1d4d0e0.bdb868","type":"OPCUA-IIoT-Read","z":"6b119636.c7007","attributeId":0,"maxAge":1,"depth":1,"connector":"288b4a9d.5bbcee","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"parseStrings":true,"historyDays":1,"serverMaxItemsToRead":1000,"x":310,"y":180,"wires":[["fbbec1f9.39a21"]]},{"id":"cb83acd4.8bd8e8","type":"function","z":"6b119636.c7007","name":"value[1]","func":"msg.payload = msg.payload.value[1];\nmsg.topic = \"째C\";\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":320,"wires":[["12bf2c9e.4faba3","f8ab6ddc.6134"]]},{"id":"a7d8efc5.b36d38","type":"OPCUA-IIoT-Inject","z":"6b119636.c7007","injectType":"listen","payloadType":"num","topic":"","repeat":"30","crontab":"","once":true,"startDelay":"10","name":"","payload":"1000","addressSpaceItems":[{"name":"Random","nodeId":"ns=2;i=6","datatypeName":""}],"x":140,"y":320,"wires":[["7123c900.a9b4b"]]},{"id":"44c232f6.3617a4","type":"OPCUA-IIoT-Response","z":"6b119636.c7007","name":"","compressStructure":true,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":450,"y":320,"wires":[["cb83acd4.8bd8e8"]]},{"id":"fbbec1f9.39a21","type":"OPCUA-IIoT-Response","z":"6b119636.c7007","name":"","compressStructure":true,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":470,"y":180,"wires":[["8e432070.7a2d58"]]},{"id":"3e36ee5e.3cce4a","type":"catch","z":"6b119636.c7007","name":"","scope":null,"uncaught":false,"x":100,"y":60,"wires":[["c7ba9d71.5277b8"]]},{"id":"c7ba9d71.5277b8","type":"debug","z":"6b119636.c7007","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":230,"y":60,"wires":[]},{"id":"12bf2c9e.4faba3","type":"function","z":"6b119636.c7007","name":"set last value","func":"flow.set(\"value\", msg.payload)","outputs":1,"noerr":0,"x":790,"y":320,"wires":[[]]},{"id":"8fd945a4.2cb878","type":"function","z":"6b119636.c7007","name":"24h buffer","func":"let value = flow.get(\"value\") || 0;\nlet time = flow.get(\"time\") || 0;\nlet m = {};\n\nlet labels = flow.get(\"labels\") || [];\nlabels.push(time);\nwhile (labels.length > 86400) {\n    labels.shift()\n}\nflow.set(\"labels\", labels);\n\nlet data = flow.get(\"data\") || [];\ndata.push(value);\nwhile (data.length > 86400) {\n    data.shift()\n}\nflow.set(\"data\", data);","outputs":1,"noerr":0,"x":330,"y":540,"wires":[[]]},{"id":"d9bf52eb.efbe3","type":"function","z":"6b119636.c7007","name":"set time value","func":"let date = new Date(Date.now());\nlet hours = \"0\" + date.getHours();\nlet minutes = \"0\" + date.getMinutes();\nlet seconds = \"0\" + date.getSeconds();\nlet formattedTime = hours.substr(-2) + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);\nflow.set(\"time\", formattedTime);","outputs":1,"noerr":0,"x":340,"y":500,"wires":[[]]},{"id":"5251b4ce.5c317c","type":"inject","z":"6b119636.c7007","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":"10","x":140,"y":500,"wires":[["d9bf52eb.efbe3"]]},{"id":"94dd8aac.753d9","type":"comment","z":"6b119636.c7007","name":"Polling value from Server","info":"","x":170,"y":140,"wires":[]},{"id":"47c635b5.99b35c","type":"comment","z":"6b119636.c7007","name":"Subscription","info":"","x":130,"y":280,"wires":[]},{"id":"182c128d.fd7cc5","type":"ui_template","z":"fec79869.7befa","group":"124e7d4b.0c8e4b","name":"","order":0,"width":0,"height":0,"format":"<div>\n    <md-button ng-click=\"send({payload: 'Hello World'})\">\n    Click me to send a hello world\n    </md-button>\n    <md-slider ng-model=\"msg.payload\" ng-change=\"send(msg)\"></md-slider>\n</div>\n\n<script>\n    scope.click = function(b) {\n        if (!this.msg) this.msg = {};\n        if (!this.msg.payload) this.msg.payload = {};\n        this.msg.payload[b.payload] = !this.msg.payload[b.payload];\n        this.send(this.msg);\n    }.bind(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":160,"y":80,"wires":[["e45f5283.8bbf88"]]},{"id":"e45f5283.8bbf88","type":"debug","z":"fec79869.7befa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":334,"y":79,"wires":[]},{"id":"bb837359.224c58","type":"ui_chart","z":"6b119636.c7007","name":"","group":"b1ec68e9.eaf328","order":2,"width":"0","height":"0","label":"Verlauf","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"empty","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":580,"wires":[[]]},{"id":"6ac58033.59d748","type":"function","z":"6b119636.c7007","name":"get_chart_data","func":"let labels = flow.get(\"labels\") || [];\nlet data = flow.get(\"data\") || [];\nlet max_value_count = 60;\n\nlet new_labels;\nlet new_data;\n\nif (labels.length > max_value_count && data.length > max_value_count) {\n    new_labels = labels.slice(labels.length - max_value_count, labels.length);\n    new_data = data.slice(data.length - max_value_count, data.length);\n} else {\n    new_labels = labels;\n    new_data = data;\n}\n\n\nm = {};\nm.series = [\"째C\"];\nm.data = [new_data];\nm.labels = new_labels;\nmsg.payload = [m];\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":580,"wires":[["bb837359.224c58"]]},{"id":"1d8ab99c.d83136","type":"inject","z":"6b119636.c7007","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"10","x":139,"y":580,"wires":[["6ac58033.59d748"]]},{"id":"645b04d7.689c74","type":"inject","z":"6b119636.c7007","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":"10","x":139,"y":540,"wires":[["8fd945a4.2cb878"]]},{"id":"f8ab6ddc.6134","type":"ui_gauge","z":"6b119636.c7007","name":"","group":"b1ec68e9.eaf328","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"째C","format":"{{value}}","min":0,"max":"100","colors":["#0080ff","#00b500","#ff8040"],"seg1":"45","seg2":"75","x":790,"y":360,"wires":[]},{"id":"e82fcbf3.2f45b8","type":"debug","z":"6b119636.c7007","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":820,"y":180,"wires":[]},{"id":"c5ba49f1.8640f8","type":"OPCUA-IIoT-Inject","z":"6b119636.c7007","injectType":"listen","payloadType":"num","topic":"","repeat":"30","crontab":"","once":true,"startDelay":"11","name":"","payload":"1000","addressSpaceItems":[{"name":"Random","nodeId":"ns=2;i=6","datatypeName":""}],"x":140,"y":360,"wires":[["7123c900.a9b4b"]]},{"id":"a8e118e8.d215b","type":"OPCUA-IIoT-Inject","z":"6b119636.c7007","injectType":"listen","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"12","name":"","payload":"1000","addressSpaceItems":[{"name":"Random","nodeId":"ns=2;i=6","datatypeName":""}],"x":130,"y":400,"wires":[["7123c900.a9b4b"]]}]